<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.xiaosha.club/index.php?user/publicLink&amp;fid=64ecashEZOnrXgAcMqVVdLVVGwhzqzd8-bNHhHuTxH9EWQ7HH6ZKJ7JAn-DkDQj6X15JU0xW6seAp_DeZwKsBSrg2DtQHtCTWJeaGJRPZRfY8_unDxDzuTBbgkTB9WG1w7S7B6Y&amp;file_name=/ZoGaFinance.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://fangzhou.zogainfo.com/app/download/img/iossmall.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://fangzhou.zogainfo.com/app/download/img/iosbig.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zoga.fangzhou.business</string>
				<key>bundle-version</key>
				<string>1.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ZoGaFangZhou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
